<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuling.mapper.salary.SalaryMapper">
    <!-- 工资表的查询结果集 -->
    <resultMap id="SalaryResult" type="Salary">
        <result property="id" column="id"/>
        <result property="jobNumber" column="job_number"/>
        <result property="payDate" column="pay_date"/>
        <result property="basicSalary" column="basic_salary"/>
        <result property="overtimePay" column="overtime_pay"/>
        <result property="bonus" column="bonus"/>
        <result property="commission" column="commission"/>
        <result property="allowance" column="allowance"/>
        <result property="deductions" column="deductions"/>
        <result property="tax" column="tax"/>
        <result property="fiveInsurancesOneFund" column="fiveInsurancesOneFund"/>
        <result property="netSalary" column="net_salary"/>
        <result property="paymentMethod" column="payment_method"/>
        <result property="remarks" column="remarks"/>
        <result property="bankCard" column="bank_card"/>
    </resultMap>

    <!-- 工资信息通用查询 -->
    <sql id="selectSalaryVo">
        select id, s.job_number, pay_date, basic_salary, overtime_pay, bonus,
               commission, allowance, deductions, tax, fiveInsurancesOneFund,
               net_salary, payment_method, remarks, s.bank_card,e.name
        from salary s
        left join employee e on s.job_number = e.job_number
    </sql>

    <!-- 工资列表查询 -->
    <select id="selectSalaryList" parameterType="Salary" resultMap="SalaryResult">
        <include refid="selectSalaryVo"/>
        <where>
            <if test="jobNumber != null"> and s.job_number like concat('%', #{jobNumber}, '%')</if>
            <if test="queryPayDate != null"> and date_format(pay_date, '%Y-%m') = #{queryPayDate}</if>
            <if test="paymentMethod != null"> and payment_method = #{paymentMethod}</if>
        </where>
        order by pay_date desc
    </select>

    <!-- 单条工资信息查询 -->
    <select id="selectMyInSalary" parameterType="Salary" resultMap="SalaryResult">
        <include refid="selectSalaryVo"/>
        <where>
            <if test="jobNumber != null"> and s.job_number = #{jobNumber}</if>
             <if test="queryPayDate != null"> and date_format(pay_date, '%Y-%m') = #{queryPayDate}</if>
              <if test="paymentMethod != null"> and payment_method = #{paymentMethod}</if>
        </where>
    </select>

    <!-- 插入工资信息 -->
    <insert id="insertSalary" parameterType="Salary">
        insert into salary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobNumber != null">job_number,</if>
            <if test="payDate != null">pay_date,</if>
            <if test="basicSalary != null">basic_salary,</if>
            <if test="overtimePay != null">overtime_pay,</if>
            <if test="bonus != null">bonus,</if>
            <if test="commission != null">commission,</if>
            <if test="allowance != null">allowance,</if>
            <if test="deductions != null">deductions,</if>
            <if test="tax != null">tax,</if>
            <if test="fiveInsurancesOneFund != null">fiveInsurancesOneFund,</if>
            <if test="paymentMethod != null">payment_method,</if>
            <if test="remarks != null">remarks,</if>
            <if test="bankCard != null">bank_card,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobNumber != null">#{jobNumber},</if>
            <if test="payDate != null">#{payDate},</if>
            <if test="basicSalary != null">#{basicSalary},</if>
            <if test="overtimePay != null">#{overtimePay},</if>
            <if test="bonus != null">#{bonus},</if>
            <if test="commission != null">#{commission},</if>
            <if test="allowance != null">#{allowance},</if>
            <if test="deductions != null">#{deductions},</if>
            <if test="tax != null">#{tax},</if>
            <if test="fiveInsurancesOneFund != null">#{fiveInsurancesOneFund},</if>
            <if test="paymentMethod != null">#{paymentMethod},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="bankCard != null">#{bankCard},</if>
        </trim>
    </insert>

    <!-- 更新工资信息 -->
    <update id="updateSalary" parameterType="Salary">
        update salary
        <trim prefix="SET" suffixOverrides=",">
            <if test="payDate != null">pay_date = #{payDate},</if>
            <if test="basicSalary != null">basic_salary = #{basicSalary},</if>
            <if test="overtimePay != null">overtime_pay = #{overtimePay},</if>
            <if test="bonus != null">bonus = #{bonus},</if>
            <if test="commission != null">commission = #{commission},</if>
            <if test="allowance != null">allowance = #{allowance},</if>
            <if test="deductions != null">deductions = #{deductions},</if>
            <if test="tax != null">tax = #{tax},</if>
            <if test="fiveInsurancesOneFund != null">fiveInsurancesOneFund = #{fiveInsurancesOneFund},</if>
            <if test="paymentMethod != null">payment_method = #{paymentMethod},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="bankCard != null">bank_card = #{bankCard},</if>
        </trim>
        where job_number = #{jobNumber}
    </update>

    <!-- 删除工资信息 -->
    <delete id="deleteSalaryById" parameterType="Long">
        delete from salary where id = #{id}
    </delete>

    <!-- 批量删除工资信息 -->
    <delete id="deleteSalaryByIds" parameterType="String">
        delete from salary where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
